<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/57045c6330.js" crossorigin="anonymous"></script>

    <!--FONTS GOOGLE-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Lato&display=swap" rel="stylesheet">

    <!--SHADOW ON SCROLL-->
    <script type="text/javascript" src="/scripts/upload.js" defer></script>
    <script type="text/javascript" src="/scripts/change_email.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/upload.css">
    <title>Cboard - upload document</title>
</head>

<body>
<div class="upload-container">
    <div class="upload-box">
        <div class="login-content">
            <form action="change_email" method="POST">
                <div class="logo">
                    <a href="/"><img src="/img/login/logo-dark.svg"></a>
                </div>
                <h2>Zmień email</h2>


                <div class="input-div">
                    <div>
                        <h5>E-mail</h5>
                        <input name="email"  type="email" class="input" required value="<%=message.email%>">
                    </div>
                </div>

                <div class="input-div">
                    <div>
                        <h5>Wprowadź klucz</h5>
                        <input name="key"  type="text" class="input">
                    </div>
                </div>

                <% if(message) {%>
                    <div class="message-<%= message.status %>">
                        <%= message.text%>
                    </div>
                <% } %>

                <button type="submit" class="btn">Prześlij</button>
            </form>
        </div>
    </div>
</div>
</body>