<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/57045c6330.js" crossorigin="anonymous"></script>

    <!--FONTS GOOGLE-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Lato&display=swap" rel="stylesheet">

    <!--SHADOW ON SCROLL-->
    <script type="text/javascript" src="/scripts/upload.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/css/upload.css">
    <title>Cboard - new category</title>
</head>

<body>
<div class="upload-container">
    <div class="upload-box">
        <div class="login-content">
            <form action="/user/profile/new_category" method="POST">
                <div class="logo">
                    <a href="/"><img src="/img/login/logo-dark.svg"></a>
                </div>
                <h2>Stwórz nową kategorię</h2>

                <div class="select">
                    <select name="category" id="slct" required>
                        <option selected disabled value="">Wybierz kategorie</option>
                        <option value="Raporty">Raporty</option>
                        <option value="Dokumentacja">Dokumentacja</option>
                    </select>
                </div>

                <div class="input-div">
                    <div>
                        <h5>Podaj tytuł</h5>
                        <input name="title"  type="text" class="input" required>
                    </div>
                </div>

                <% if(message) {%>
                    <div class="message-<%= message.status %>">
                        <%= message.text%>
                    </div>
                <% } %>

                <button type="submit" class="btn">Prześlij</button>
            </form>
        </div>
    </div>
</div>
</body>